@charset "UTF-8";
/* Em HTML é id = em CSS é # */
/* Em HTML é class = em CSS é . */




body{
    background-color: #F7F6F3;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #e6e1d8d2;
}

 #principal{
    text-align: center;
    background-color: #4A4A48;
   
    color: #C2A76D;
}

h2{
    color:#B5AEA3;
}
p{
    color: #4A4A48;
}
.básico{
color:#755b32;
font-weight: bold;
}

.intermediário{

    color:#9e845a;
}

.avançado{
    color:#ff2323;

}
.destaque{
    background-color: #ffff004d;
}