@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;

}
html, body{
    background-color: lightblue;  
    font-family: Arial, Helvetica, sans-serif;
}
menu ul li {
 text-decoration: none;
 display: inline-block;
 padding: 5px;
 background-color: lightgray;
}
menu li:hover{
    
    background-color: lightgreen;
}
h1{
    text-align: center;
    color: rgb(120, 62, 255);
}
header{
    background-color: rgb(206, 206, 206);
}

main{
    background-color: rgb(153, 125, 125);
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 20px;
}
main h2{
    color: black;
}
 main p{
 color: black;
 }