@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: lightblue;  
}
menu{
    display:none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: lightgray;
    color:white;
    text-align:center;
    border-top: 2px solid gray;
}
menu > ul > li a:hover{
    
    background-color: gray;
}
header h1{
    text-align: center;
    padding: 10px;
}
header{
    background-color:gray;
}
i#burguer{
    background-color: rgb(36, 36, 36);
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;

}
i#burguer:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 

}

main{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

 main p{
 color: black;
 }
 article h2 {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;


 }