 @charset "UTF-8";

 body{
    background-image:  url("imagens/background001.jpg");
 }
 header h1{
    text-align: center;
    font-family: 'Georgia', serif;
    color: #444;
    margin-top: 20px;

 }
 header h3{
    text-align: center;
    font-family: 'Georgia', serif;
    color: #666;
    margin-top: -10px;
 }
 main{
    background-color: rgb(255, 255, 255);
    width: auto;
    margin: auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
 }
 div.quadrado{
    background-image: ;
    width: auto;
    height: 400px;
   
    margin: auto;
    margin-top: 50px;
    
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
 }

 
 div#q2{
    background-image: linear-gradient(to bottom, yellow, orange);
    background-image: url(imagens/background002.jpg);
   
 }
 div#q3{
    background-image: url(imagens/background001.jpg);
 }