 @charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Imperial+Script&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Imperial+Script&family=Passion+One:wght@400;700;900&display=swap');

 :root{
   --fonte1: Verdana, Geneva, Tahoma, sans-serif;
   --fonte2: 'Passion one', cursive;
   --fonte3: "Sriracha", cursive;
 }

*{
   margin: 0px;
   padding: 0px;
}

html, body{
   font-family: var(--fonte1);
   min-height: 100vh;
   background-color: darkgray;
}

 body{
   background-image: url(imagens/background001.jpg);
   background-attachment: fixed;
   background-size: cover;
 }

 header{
   color: white;
   text-align: center;
   background-color: black;
 }
 header h1{
   font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;

 }
 header > p{
   padding-bottom: 50px;
   text-align: center;
 }
 
 a {
   color: white;
   text-decoration: none;
   font-weight: bold;
 }
header  a:hover, footer a:hover{
   text-decoration: underline;


}

section.normal{
   background-color: white;
   color: black;
}

 section.imagem{
   background-image: url(imagens/background002.jpg);
   background-size: cover;
   background-position: 100%;
   background-repeat: no-repeat;
   background-color: rgb(54, 42, 42);
 
 }
 section{
   font-family: var(--fonte3);
   line-height: 2em;
   padding-top: 10%;
   padding-bottom: 10%;
   padding-left: 30px;
   font-size: 3.5vw;
 }
 footer{
   background-color: black;
   color: white;
   text-align: center;
   padding: 10px;
}
section.image > p{
   padding: 5px;
   display: inline-block;
   background-color: rgba(53, 38, 38, 0.856);
}