 @charset "UTF-8";
 

       body {
    background-color:rgb(149, 182, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  
            }
        h1{
            color: magenta;
            background-color: rgb(30, 37, 44);
        }
        h2{
            color: green;
        }
        p{
            text-align: justify;
        }
        
 