@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Imperial+Script&display=swap');

* {
    font-family: "Great Vibes", cursive;
}
body{
    background-image: linear-gradient(to right, #021740, #173673);
}
    main{
    background-color: rgb(148, 142, 142);
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    
} 



p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1{
    font-size: Great Vibes, cursive;
    color: #173673;
    text-shadow: 1px 1px 2px #0b19368e ;
    text-align: center;
    text-shadow: 1px 1px 2px #0b1b3b98;
}
h2{
    color: #657BA6;
}